
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,body{
  margin: 0;
 
}

body{
  /* background-image: url(../src/assets/images/bg.png) !important; 
  background-size:100% 100% !important;  */
}

#app {
  background-image: url(../src/assets/images/bg.png) !important; 
  background-size:100% 100% !important; 
  background-size:100% 100%; 
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden !important;
}

*, body{
  font-family: "Montserrat", sans-serif !important;
}

.centered-content {
}